<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Tailwind Demos</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./css/styles.css" />
  </head>

  <body>
    <!-- Top Container -->
    <div class="w-full h-96 bg-indigo-800 flex flex-col">
      <div class="p-2 px-4 flex flex-row-reverse items-center justify-between">
        <img
          class="cursor-pointer h-8"
          src="./assets/github-icon.png"
          alt="github"
          onclick="openGithubRepo()"
        />
        <h3
          class="text-white font-bold text-lg cursor-pointer"
          onclick="gotoHome()"
        >
          Home
        </h3>
      </div>
      <div class="flex-1 flex flex-col items-center justify-center">
        <span class="text-white font-bold text-4xl px-4 text-center"
          >Tailwind Demo's</span
        >
        <div class="mt-4">
          <a
            class="github-button"
            href="https://github.com/akulsr0/tailwind-demos"
            data-size="large"
            data-show-count="true"
            aria-label="Star akulsr0/tailwind-demos on GitHub"
            >Star</a
          >
        </div>
      </div>
    </div>
    <!-- Main Container -->
    <div class="px-4 mt-2">
      <div class="flex flex-row">
        <input
          id="searchInput"
          class="w-full h-10 border border rounded-md px-2"
          type="text"
          placeholder="Search"
          onsubmit="search()"
        />
        <button
          class="bg-indigo-600 ml-2 px-4 text-white rounded-md"
          onclick="search()"
        >
          Go
        </button>
      </div>
      <div id="demos-container" class="flex flex-row flex-wrap justify-evenly">
        <% demos && demos.map(demo=> { %>
        <div
          class="
            flex flex-col
            mx-2
            min-w-max
            mt-8
            cursor-pointer
            border border-2
            rounded-md
            pt-2
            overflow-hidden
          "
          onclick="openDemoView('<%=demo%>')"
        >
          <img
            src="/<%=demo%>/assets/screenshots/desktop.png"
            alt=""
            class="w-80 flex-1"
          />
          <span
            class="text-center font-bold text-xl mt-2 bg-indigo-800 text-white"
          >
            <%= demo && demo.replace(/-/g, ' ') %>
          </span>
        </div>
        <% }) %> <% if(demos.length <= 0) {%>
        <div class="w-full flex items-center justify-center h-80">
          <span class="text-lg">No results for <b><%= searchText %></b> </span>
        </div>
        <%}%>
      </div>
    </div>
    <!-- Footer -->
    <div class="mt-8 bg-indigo-600 p-4 pb-6 flex flex-col">
      <span class="text-center text-white font-thin"
        >made by akulsrivastava</span
      >
      <div class="flex flex-row justify-evenly mt-4">
        <span
          class="text-white cursor-pointer font-light hover:text-gray-300"
          onclick="openLink('http:\/\/akulsrivastava.com/')"
          >website</span
        >
        <span
          class="text-white cursor-pointer font-light hover:text-gray-300"
          onclick="openLink('http:\/\/github.com/akulsr0/')"
          >github</span
        >
        <span
          class="text-white cursor-pointer font-light hover:text-gray-300"
          onclick="openLink('https:\/\/play.google.com/store/apps/developer?id=Akul+Srivastava')"
          >android apps</span
        >
      </div>
    </div>
  </body>

  <script src="/js/main.js"></script>
  <script async defer src="https://buttons.github.io/buttons.js"></script>
</html>
